* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  font-family: "Koulen", cursive;
  color: var(--mainBlack);
  background-color: var(--bodyColor);
  position: relative;
}
.navbar {
  background-color: var(--secondaryColor);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-center {
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-icon {
  color: var(--primaryColor);
  cursor: pointer;
  font-family: 'Koulen', cursive;
}
.nav-title {
  color: var(--mainBlack);
}
.cart-btn {
  color: var(--primaryColor);
  position: relative;
  cursor: pointer;
  /* font-family: 'Koulen', cursive; */
}
.menu-icon i,
.cart-btn i {
  font-size: 1.5rem;
}
.cart-number {
  position: absolute;
  background-color: var(--mainRed);
  width: 20px;
  height: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
  font-size: 0.75rem;
  top: -10px;
  left: 10px;
}

/* end of navbar */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: darkslateblue; */
}
/* .product-name { */
/* background-color: dodgerblue; */
/* } */

.product-center {
  width: 100%;
  max-width: 1170px;
  /* background-color: gray; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
}
.img {
  width: 100%;
  min-height: 120px;
  /* height: 300px; */
  border-radius: 8px;
  font-size: 50%;
}
.product-imag :hover {
  box-shadow: 10px 10px 5px  #000000;
}
.products {
  background-color: var(--mainWhite);
  padding-bottom: 2rem;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-desc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  width: 100%;
}
.product-name {
  margin: 2rem;
}
.add-to-cart {
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 10px 25px;
  cursor: pointer;
}
.add-to-cart:hover {
  box-shadow: 5px 5px 9px 0px rgba(1, 1, 7, 0.2);
  font-size: 15px;
}
.product-title {
  /* border: 5px solid black; */
  padding: 10px;
  background-color: var(--secondaryColor);
  color: var(--mainGrey);
  border-radius: 5px;
}
.product-price {
  padding: 10px;
  background-color: var(--secondaryColor);
  color: var(--mainGrey);

  border-radius: 5px;
}

.product-imag:hover {
  width: 105%;
  /* height:300px; */
  left: 0;
  top: 0;
}
